html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}


body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-color: #cde4f9;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  color: #dc6aa1;
  margin-top: 48px;
}

.autor {
  color: #dc6aa1;
  text-align: center;
}

.popis {
  font-size: 24px;
  color: #808080;
}

section {
  background-color: #fff;
  max-width: 900px;
}